<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.r3.financing.dao.ResetPasswordMapper" >

  <insert id="add" parameterType="resetPassword">
    insert into reset_password(user_code,created_date)
    values(#{userCode},#{createdDate})
  </insert>

  <select id="queryResetPasswordCountByUserCode" resultType="java.lang.Integer">
    select count(1) from reset_password where user_code = #{userCode} and date(created_date) = curdate()
  </select>
</mapper>
